 .css-art2ul-ValueContainer2{
    height: 56px;
    cursor: pointer;
    outline: 0;
}

 .css-t3ipsp-control:hover{
    border-color: rgba(229, 229, 229, 0.7) !important;
    box-shadow: none !important;
 }

 .css-10wo9uf-option{
    cursor: pointer;
 }
