

thead tr th {
    text-align: left;
    padding-left: 20px;
}

.table-wrapper{
    position: relative;
    overflow-x: auto;
    max-height: 600px;
}

.table-wrapper::-webkit-scrollbar{
    height: 8px;
}

.table-body-tr{
    border-bottom: 1px solid #DDE0E2;
}

.table-body-tr td{
    padding: 20px;
}

.table-body-tr td[data-value='SUCCESSFUL'],
.table-body-tr td[data-value='SUCCESS']
{
    color: rgba(33, 150, 83, 1);
    font-weight: 500;
}
.table-body-tr td[data-value='PENDING']{
    color: #D6A32E;
    font-weight: 500;
}
.table-body-tr td[data-value='FAILED']{
    color: #DC362E;
    font-weight: 500;
}