

thead tr th {
    text-align: left;
    padding-left: 20px;
}

.table-wrapper{
    position: relative;
    overflow-x: auto;
}

.table-wrapper::-webkit-scrollbar{
    height: 8px;
}

.table-wrapper::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
}

.table-body-tr{
    border-bottom: 1px solid #DDE0E2;
}

.table-body-tr td{
    padding: 20px;
}