

thead tr th {
    text-align: left;
    padding-left: 20px;
}

.table-wrapper{
    position: relative;
    overflow-x: auto;
    max-height: 600px;
}

.table-wrapper::-webkit-scrollbar{
    height: 8px;
}

.table-body-tr{
    border-bottom: 1px solid #DDE0E2;
}

.table-body-tr td{
    padding: 20px;
}